* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

div img {
    display: block;
    width: 100%;
}

.flex_container {
    display: flex;
    max-width: 992px;
    margin: auto;
    width: 100%;
    min-width: 320px;
}

header {
    background-color: #122A57;
    height: 100px;
    display: flex;
    align-items: center;
    color: #fff;
}

.cabecalho {
    justify-content: space-between;
}

.cabecalho .menu {
    display: flex;
    width: 100%;
    max-width: 260px;
    justify-content: space-between;
    align-items: center;
}

.lista_items{
    color: #fff;
}

.apresentacao {
    height: 100vh;
    align-items: center;
    justify-content: space-between;
}

.apresentacao .texto_apresentacao {
    min-height: 200px;
}

.texto_apresentacao h1 {
    font-size: 48px;
    color: #122A57;
    margin-bottom: 10px;
}

.btn {
    background-color: #122A57;
    color: #fff;
    text-align: center;
    border-radius: 25px;
    max-width: 220px;
    display: block;
    text-decoration: none;
    height: 50px;
    line-height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#quem_somos {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}

#quem_somos h2 {
    font-size: 28px;
    color: #122A57;
    display: flex;
    margin: 10px 0 20px 0;
}

#quem_somos h2::before {
    content: '';
    height: 32px;
    width: 5px;
    margin-right: 5px;
    background-color: #122A57;
    position: relative;
}

#quem_somos p {
    margin: 0 0 10px;
    width: 90%;
}

#quem_somos img {
    min-width: 450px;
}

.container_externo {
    background-color: #122A57;
    width: 100%;
}

#servicos {
    flex-direction: column;
    padding: 60px 0 50px 0;
}

.lista_servicos {
    display: flex;
    justify-content: space-around;
}

.lista_servicos .item_servicos {
    text-align: center;
}

#servicos h2 {
    color: #fff;
    font-size: 36px;
    margin-bottom: 45px;
}

.item_servicos img {
    width: 80%;
    margin: auto;
}

.item_servicos p {
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    margin-top: 20px;
}

.item_servicos a {
    background-color: #fff;
    color: #122A57;
    text-align: center;
    border-radius: 25px;
    max-width: 220px;
    display: block;
    text-decoration: none;
    height: 50px;
    line-height: 50px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 700;
}

#planos {
    flex-direction: column;
    min-height: 100vh;
    padding-top: 60px;
}

#planos h2 {
    color: #122A57;
    font-size: 36px;
    margin-bottom: 45px;
    font-weight: 700;
}

.lista_planos {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 200px;
}

.item_planos {
    flex: 1;
    border: 4px solid #122A57;
    margin-right: 20px;
    padding: 20px;
    max-width: 240px;
}

.item_planos .btn {
    margin: auto;
    margin-bottom: 20px;
}

.item_planos h3 {
    font-size: 24px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 20px;
    color: #122A57;
    font-weight: 700;
}

.item_planos h3::after{
    content: '';
    background-color: #122A57;
    width: 100%;
    height: 3px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.item_planos ul {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.item_planos ul li {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    color: #122A57;
    font-weight: 400;
    margin-bottom: 15px;
}

.item_planos ul li::before{
    content: '';
    width: 10px;
    height: 10px;
    background-color: #122A57;
    margin-right: 8px;
}

footer {
    background-color: #122A57;
    height: 80px;
    display: flex;
    align-items: center;
}

footer .footer {
    justify-content: space-between;
    color: #fff;
}

/* mobile - responsividade */

@media(max-width: 992px){
    .flex_container {
        flex-direction: column;
    }

    .apresentacao {
        flex-direction: column-reverse;
    }

    .apresentacao .texto_apresentacao {
        width: 100%;
    }

    #quem_somos {
        flex-direction: column;
    }

    #quem_somos img {
        min-width: 320px;
        margin: auto;
    }

    .lista_servicos {
        flex-direction: column;
    }

    .item_servicos img {
        width: 50%;
        margin: auto;
    }

    .lista_planos {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 20px;
    }

    .lista_planos .item_planos {
        max-width: 90%;
        margin: auto;
        width: 100%;
        margin-bottom: 20px;
    }
}